*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  rgba(5, 5, 5, 0.9) ;
}
a {
    padding: 15px 15px;
    font-size: 20px;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
.no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
h1 { 
    font-family: 'Akshar', sans-serif;
    font-size: 75px;
    text-align: center;
}

.header {
    background-color: rgba(5, 5, 5, 0.9) !important;
    width: 100%;
    padding: 30px 0px;
}
.header h1 {
    font-family: 'Akshar', sans-serif;
    text-align: left;
    margin-left: 50px;
    font-size: 45px;
    color: #8a8a8a;
}
form {
    color: #fff;
    font-size: 24px;
    width: 100%;
    margin: 15px 15px 0px;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    height: 100%;
}
.container > h2{
    color: #fff;
    font-size:50px;
    margin: 15px 0px;
    letter-spacing: 2px;
    text-align: center;
}
.login-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}
.login-box > label {
    padding: 10px 0px;
    color: #fff;
    font-size: 24px;
}
.login-box > input {
    text-align: center;
    height: 27px;
    margin-bottom: 7px;
    font-size: 18px;
}
.login-box button {
    margin: 10px;
    width: auto;
    padding: 7px 15px;
    font-size:18px;
    transition: all 0.4s;
}

a:hover , .login-box button:hover {
    opacity: 0.7;
    cursor: pointer;
}
.invalid {
    color: red;
}
.valid {
    color: green;
}
#statLog {
    font-size: 23px;
    font-style: italic;
}
/*---- footer ----*/
.footer {
    display: flex;
    background-color: #151515;
    justify-content: center;
    bottom:0;
    left:0;
    position: fixed;
    width: 100%;
}
.footer > div h1 {
    margin: 10px 0;
    font-size: 25px;
    padding : 10px 0px;
    color: #8a8a8a;
}

@media screen and (max-width: 420px) {
    .header h1 {
        text-align: center;
        margin-left:0;
        font-size: 30px;
        color: #8a8a8a;
    }
    .footer > div h1 {
        margin: 10px 0;
        font-size: 20px;
        padding : 5px 0px;
        color: #8a8a8a;
    }
    .container > h2{
        font-size:35px;
        text-align: center;
    }
    .login-box{
        min-height: 350px;
    }
    .login-box > label {
        font-size: 17px;
    }
    .login-box a {
        font-size: 17px;
    }
    .login-box > input {
        height: 22px;
        margin-bottom: 7px;
        font-size: 16px;
    }
    .login-box button {
        margin: 10px;
        width: auto;
        padding: 5px 12px;
        font-size:15px;
    }
    #statLog {
        font-size: 20px;
    }
}