/*----- GENERAL -----*/
    /* font color */
    /* color: rgba(231, 228, 228, 0.931) */
    /* background-color : rgba(5,5,5,0.9) */
    /* background-color 2 : #151515 */
    /* header , subjuct font : 'Akshar', sans-serif; */
    /* biography font : font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
h1 { 
    font-family: 'Akshar', sans-serif;
    font-size: 75px;
    text-align: center;
    color : rgba(231, 228, 228, 0.931);
}
#welcome {
    position: relative;
    opacity: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100vw;
    height: 100vh;
}
#welcome h1 {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.733) ;
    font-size: 100px;    
}
#h ,#n ,#t {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .06em; /* Adjust as needed */
}
/*--- Hello I'm ---*/
#h{ 
    animation: 
    typing 1.5s steps(75, end),
    blink-caret .5s step-end 3 forwards;
}
/*--- Nutthabhas --- */
#n {
    animation: 
    typing 2s steps(100, end) 1.5s backwards,
    blink-caret .5s step-end 4 1.5s forwards;
}
/*--- Thitabhas --- */
#t {
    animation: 
    typing 2s steps(100, end) 3.5s backwards,
    blink-caret .5s step-end 4 3.5s forwards;
}
/*--- The typing effect ---*/
@keyframes typing {
    from { width: 0 }
    to { width: 100% ;}
}
/*--- The typewriter cursor effect ---*/
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }   
}
#welcome-message {
    opacity:0 ;
    margin-top: 75px;
}
/* Hi, My Guests*/
#welcome h2 {
    color: rgba(255, 255, 255, 0.733);
    font-size: 60px;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0px;
}
/* Welcome to my website */
#welcome-message p{
    color: rgba(255, 255, 255, 0.733);
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    margin:7.5px 0px;
}
.skip {
    display: flex;
    align-items: center;
    justify-content: center;
    top:2.5%;
    left:0;
    position: fixed;
    width: 100%;
}
.skip span{
    height : 50px;
}
.skip button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 35px;
    background-color:  rgb(37, 35, 35);
    color:rgb(231, 228, 228);
    transition: all 0.3s;
}
.skip button:hover {
    cursor: pointer;
    opacity : 0.7;
    color: rgb(5, 5, 5);
    background-color: rgb(231, 228, 228);
}

/* ---------------------main webpage -----------------------*/
#main {
    background-color: rgb(7, 7, 7) ;
    opacity: 1;
    display:none;
}
.header {
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 110px;
    padding: 30px 0px;
}
.header h1 {
    text-align: left;
    margin-left: 75px;
    font-size: 45px;
    color: #8a8a8a;
}
.sticky {
    position:fixed;
    top: 0;
    width: 100vw;
}
.dropdown-sticky{
    top: 57px;
}

#top-nav{
    display:flex;
    flex-flow: row nowrap;
    flex-basis: 100%;
    overflow: hidden;
    background: rgb(33,33,33);
    z-index: 1;
    transition: top 0.3s ease-in-out;
    align-items: center;
}
#left-top-nav {
    display: flex;
    flex-basis: 40%;
    align-items: center;
}
#right-top-nav{
    display: flex;
    flex-basis: 60%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}
#drop-down{
    display: none;
    align-items: center;
}
.hamburger{
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    margin-left: 15px;
}
.hamburger .line {
    display:block;
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin-block: 10px;
    border-radius: 4px;
    margin-left: 0px;
    transition: transform 0.4s , opacity 0.25s , width 0.4s , margin-left 0.25s ;   
}
.hamburger.clicked .line:nth-child(1) {
    transform: translateX(-8px) translateY(13px)
    rotate(45deg);
    width: 25px;
    margin-left: 5px;
}
.hamburger.clicked .line:nth-child(2) {
    opacity: 0;
    width: 25px;
    margin-left: 5px;
}
.hamburger.clicked .line:nth-child(3) {
    transform: translateX(8px) translateY(-13px)
    rotate(-45deg);
    width: 25px;
    margin-left: 5px;
}

#drop-down-list{
    display:none;
    background: rgb(17, 17, 17);
    flex-direction: column;
    position: fixed;
    width: 50vw;
    z-index: 2;
}
.smooth{
    transition: all 0.3s;
}
#drop-down-list a{
    font-family: 'Akshar', sans-serif;
    color :#ffffff;
    font-size: 18px;
    padding : 10px 10px;
    text-decoration: none; 
}
#drop-down-list a:hover{
    background-color: rgb(33,33,33);
}
#top-nav a {
    text-align: center;
    font-family: 'Akshar', sans-serif;
    white-space: nowrap;
    text-decoration: none;
    font-size: 25px;
    color :#ffffff;
    padding: 15px 30px;
    transition: all 0.2s;
}

#top-nav a:hover {
    background-color: rgba(5, 5, 5, 0.9) !important;
    color: rgba(231, 228, 228, 0.931);
}
#logout-btn {
    justify-content: flex-end;
}
.page-wrapper {
    background-color: rgba(5, 5, 5, 0.9);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#first-row {
    background-color: #151515;
    padding: 100px 0px 0px;
    margin: 15px 15px 0px;
}
/*---first paragraph---*/
#first-row:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}
/*--- Slide Show ---*/
.slideshow-container {
    max-width: 600px;
}
.myslide {
    display:none;
}
.myslide img {
    width:600px; height:600px;
}
.dot {
    cursor: pointer;
    display: inline-block;
    width:20px; height: 20px; 
    margin: 2px 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.active ,.dot:hover {
    background-color: #717171;
}

/*--- fade animation ---*/
.fade {
    animation-name : fade;
    animation-duration: 1.75s ;
}
@keyframes fade {
    from { opacity: 0.3}
    to {opacity: 1}
}

/*---social media tab---*/
.contact-tab{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    padding: 15px 0px 50px;
}
.icon {
    color: transparent;
    position: relative;
    width:64px;
    height:64px;
    margin:10px 15px;
    opacity: 0.5;
    transition:all 0.5s;
}
.icon:hover {
    opacity: 1;
}
a:-webkit-any-link{
    text-decoration: none;
}
.tooltipText {
    width: 220px;
    margin-left: -110px; /*width / 2 */
    font-size: 22px;
    font-family: 'Akshar', sans-serif;
    letter-spacing: 0.5px;
    color: #ffffff;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    top:125%;
    left:50%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltipText::after {
    content: "";
    position: absolute;
    left:50%;
    bottom:100%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: inherit ;
}
.icon:hover + .tooltipText {
    visibility : visible;
    opacity : 1;
}
#about-me{
    display:flex;
    flex-flow: column nowrap;
    flex-basis: 100%;
    align-items: center;
    padding-top:30px;
}
/*---about me---*/
#about-me h1{
    text-align: center;
    letter-spacing: 2px;
    color: rgba(231, 228, 228, 0.931);
    margin:50px 0px 50px;
}

/*-- personal info --*/
#per-info-container {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    justify-content: space-between;
    margin-bottom:100px;
}
#per-info-container > div:first-child {
    flex-basis: 50%;
}
#per-info-container > div {
    flex-basis: 25%;
    padding: 10px 20px;
}
.per-info {
    display: flex;
    flex-flow: row wrap;
}
.per-info div {
    flex: 1 1 50%;
    padding: 0px 10px 15px;
}

/* -- personal info text--- */
#per-info-container ul , #per-info-container li , .per-info > div{
    font-size: 22px;
    white-space: nowrap;
    color: #ddd;
}
#per-info-container li, .per-info > div p {
    font-size : 18px;
    list-style: none;
    padding: 15px 5px;
    color:#aaa;
}
/* --- personal statement */
#story-container * {
    font-family: 'Roboto', sans-serif;
}
#story-container {
    color: rgba(231, 228, 228, 0.931);
    width:70%;
}
#story-card::after {
    content: "";
    clear: both;
    display: table;
}
#story-card > h1 , #story-card > h3 , #story-card > p {
    text-align: left;
}
#story-card > h1 , #story-card > h3{
    white-space:nowrap;
    padding: 20px 0px;
    font-size: 37px;
    letter-spacing:1px;
}
#story-card > h3 { font-size: 28px; }
#story-card > p{
    text-align: justify;
    width: 100%;
    padding: 30px 0px;
    font-size: 17px;
    letter-spacing: 0.75px;
    line-height: 135%;
}
#story-card > img { 
    float: right;
    padding: 30px 30px;
    width: 579px;
    height: 730px;
}
#story-card > button {
    cursor: pointer;
    color: #0042e6;
    background-color: transparent;
    font-size: 26px;
    border-width: 0px;
    width: 200px;
    text-align: left;
    margin-bottom: 50px;
}
#story-card button:hover {
    opacity: 0.7;
}

/* -------- codewar ---------*/
#codewars-container {
    display: flex;
    flex-direction: column;
    margin: 100px 15px;
    width: 50%;
    background-color: rgba(5,5,5,0.9);
    border: 5px solid #151515;
}
#codewars-container > h1 {
    flex-basis: 100%;
    margin:50px 0 0px;
    letter-spacing: 2px;
    color: rgba(231, 228, 228, 0.931);
}
#codewars-container > a{
    position: relative;
    color: rgba(231, 228, 228, 0.931);
    flex-basis: 100%;
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    font-family: 'Akshar', sans-serif;
    margin-bottom:50px;
}
#codewars-container > a:hover {
    opacity: .7;
}
#codewars-card {
    flex-basis: 100%;
}
#codewars-card > div{
    margin:0;
    padding: 2.5px 0px;
    background-color: #151515;
    color: rgba(231, 228, 228, 0.931);
    font-size: 30px;
    font-family: 'Akshar', sans-serif;
    text-align: center;
    width: 100%;
}
#lang{
    display: flex;
    align-items: center;
    justify-content: center;
}
#langDetail > div {
    padding: 5px 0px;
    font-size: 22px;
    text-align: left;
}
#langDetail > div:nth-child(even) {
    background-color: rgba(5,5,5,0.5) ;
}
#showLangBtn {
    position: relative;
    width: 30px ; height: 30px;
    margin: 0 10px;
    padding :1px 0;
    border: transparent;
    background-color: #2a2a2a;
    border-radius: 50%;
    transition: all 0.4s ;
}
#showLangBtn:hover{
    opacity: 0.6;
    cursor: pointer; 
}
.hide{
    visibility: hidden;
    opacity:0;
    height:0;
    padding: 0 !important;
}
.show{
    visibility: visible;
    opacity:1;
    height:auto;
    transition: all 1s
}
#arrow {
    content : "";
    position : absolute;
    top: 25%;
    left: 25%;
    padding: 4px;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color :black;
    transition: all 0.5s
}
.arrow-down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);

}
#codewars-card > div:nth-child(even){
    background-color: rgba(5,5,5,0.5);
} 
#language {
    cursor: pointer;
}
#langShowMore {
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
    opacity: 0.5;
}
#langShowMore:hover {
    opacity: 1;
}
#dataList {
    display : flex ;
    flex-flow: row wrap;
    padding: 10px 5px;
}
#dataList > li{
    padding: 5px 10px;
    font-size: 18px;
    width: 33.33%;
    list-style: none;
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    border-left: none;
    transition: all 0.4s;
    
}
#dataList > li:nth-child(3n+1){
    border-left: 1px dashed white;
}
#dataList > li:nth-child(3n+1){
    border-left: 1px dashed white;
}
#lastDatalist a {
    color: rgba(231, 228, 228, 0.931);
    font-size: 17px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Akshar', sans-serif;
    font-style: italic;
}


/* -------- education -------*/
#education-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 15px 15px;
    background-color: #151515 ;
}
.ed-title {
    width: 100%;
}
.ed-title h1 {
    letter-spacing: 2px;
    color:rgba(231, 228, 228, 0.931);
    margin: 75px 0px;
}
.ed-list {
    display: flex;
    flex-flow: row nowrap;
    height:80vh;
    width: 100%;
    padding:0 30px 30px;
    justify-content: space-evenly;
}
.ed-item {
    overflow: hidden;
    position: relative;
    filter: blur(1px);
    opacity: 0.6;
    margin: 0px 0px 10px;
    flex-basis: 30%;
    min-height: 120px;
    transition : all 0.9s ease-in-out ;
    border: 3px solid white;
}
.ed-item:hover {
    flex-basis:45%;
    filter: blur(0px);
    opacity: 1;
    cursor: pointer;
}
.ed-bg {
    background-image: linear-gradient(180deg, rgba(25, 25, 25, 0.9),#2a2a2a);
    position: relative;
    top:0; left:0;
    width:100%; height: 100%;
    transition: all 1.0s ease-in-out 1s;
}
.ed-item:hover .ed-bg{
    background-image: linear-gradient(180deg, rgba(25, 25, 25, 0.9),rgb(80, 80, 80));
}
.ed-year {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top:15%;left:50%;
}
.ed-year > p {
    text-align:center ;
    margin: 0;
    font-family: 'Akshar', sans-serif;
    font-size: 50px;
    white-space: nowrap;
    letter-spacing: -1px;
    color:rgba(231, 228, 228, 0.931);
}
.ed-content {
    width:auto;
    position: absolute;
    top:40% ; left:50%;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);   
}
.ed-content-hide{
    opacity: 0;
    transform:translateY(25px);
    font-family: 'Akshar', sans-serif;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0px;
    color:rgba(231, 228, 228, 0.931); 
}
.ed-item:hover .ed-content-hide{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.85s ease-in-out 1s;
}
.logo {
    opacity: 0;
    position: absolute;
    bottom:-30%; left: 50%;
    width:200px ; height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transform: translateX(-50%) translateY(-50%);
}
.ed-item:hover .logo{
    opacity: 1;
    bottom: -10%;
    transition: all 0.85s ease-in-out 1s;
}
/* -------- activity ------*/
#activity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 50px 0;
}
#activity-container > h1 {
    flex-basis: 100%;
    margin: 25px 0;
}
.activity-card {
    margin: 25px 0px;
    min-width: 80vw;
    min-height: 50vh;
    display: flex;
    flex-flow: row wrap;  
}
#music, #sport, #student {
    background-color: #2a2a2a;
    position: relative;
    margin: 5px 5px;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#music > h1 , #sport > h1, #student > h1 {
    font-size: 50px;
}
/* #music {
    background-color: #0042e6;
}
#sport {
    background-color: #0db2d3;
}
#student {
    background-color: #8200e6;
} */
.card-tooltip {
    position: absolute;
    top:0 ;left:0;
    opacity: 0;
    width: 25%;
    height: 25%;
    /* display:none; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.8s ease-in-out;
}
.card-tooltip > a{ 
    position: absolute;
    bottom: 2.5%; right: 2.5%;
    font-size: 22px;
    font-family: 'Akshar', sans-serif;
    padding: 7px 10px;
    width: auto ; height: auto;
    background-color: #2a2a2a;
    border-radius: 15px;
    color: rgb(231, 228, 228);
    transition: all 0.4s;
}
.card-tooltip > a:hover {
    font-size: 28px;
    opacity: 1;
    cursor: pointer;
}
#music:hover, #sport:hover, #student:hover{
    cursor: pointer;
}
#music:hover > .card-tooltip, #sport:hover  > .card-tooltip, #student:hover  > .card-tooltip{
    width: 100%; height: 100%;
    display: block;
    opacity: 0.4;
}

/* ----- Modal Image -----*/
/* ( Background )*/
.modal{
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    /* background-color: #334455; */
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.95); 
    left: 0 ; top: 0;
    overflow: auto;
}
/* ( close button ) */
.close {
    position: absolute;
    top: 25px;
    right: 50px;
    text-align: center;
    width: 70px ; height: 70px;
    color: #ffff;
    font-size: 60px;
    font-weight: bold;
    transition: all 0.4s;
}
.close:hover, .close:focus{
    background-color: rgb(116, 114, 114);
    text-decoration: none;
    cursor: pointer;
}
.modal-content{
    /* display: none; */
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 0;
}
.sportSlide , .musicSlide , .studentSlide{   
    position: relative;
    display: none;
}
.sportSlide img , .musicSlide img , .studentSlide img{
    width: 100% ; height: 80vh;
    object-fit: contain;
    display: block;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
}
.number-slide{
    font-family: 'Akshar', sans-serif;
    position: absolute;
    z-index: 1;
    margin: 5px;
    top: 0;
    font-size: 30px;
    letter-spacing: 1.5px;
    color: #fff;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top:50%;
    padding: 15px 15px;
    width: auto;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}
.next {
    right:0;
    border-radius: 3px 0 0 3px;
}
.prev:hover ,.next:hover {
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(50,50,50,0.9);
}

/* -------- footer -------*/
.footer {
    display: flex;
    flex-flow: row wrap;
}
.footer > div{
    flex-basis:50%;
    background-color: rgba(5, 5, 5, 0.9);
}
.footer-contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.footer-icon {
    width: 48px; height: 48px;
    margin: 12px 10px;
    opacity: 0.6;
    transition: all 0.4s
}
.footer-icon:hover {
    opacity: 1;
}
.footer > div h1 {
    margin: 10px 0;
    font-size: 35px;
    padding : 10px 0px;
    color: #8a8a8a;
}
.footer-contact > div:last-child > p {
    font-size: 20px;
}
.credit {
    display : flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.credit a, .credit > span , .credit span a{
    margin: 0 15px ;
    align-self: center;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    color: rgba(231, 228, 228, 0.931);
    text-decoration: none;
    white-space: nowrap;
}
.footer >div:last-child{
    background-color: #151515;
    flex-basis:100% ;
    width:100%;
}
.footer >div:last-child h1{
    font-size: 25px;
}
/* ------- Responsive -------*/
/*---------------------LAPTOP-------------------------*/
@media screen and (max-width : 1366px) and ( max-height: 768px) {
    .ed-content {
        top:45%;
    }
    .logo {
        width: 150px; height: 150px;
    }
    .ed-item:hover .logo{
        bottom:-10%;
    }
}
@media screen and (max-width:1280px) and (max-height: 768px) {
    .ed-item:hover .logo{
        bottom: 5% ;
    }
}

/*------------------------WIDTH------------------------- */
@media screen and (max-width: 1366px){
    #welcome h1 {
        font-size: 80px;
    }
    .ed-content-hide {
        font-size: 23px;
    }
    #story-card > h1 , #story-card > h3{
        padding: 10px 0px;
    }
    
}
@media screen and (max-width:1280px) {
    #story-container {
        width: 80%;
    }
    #story-card > img { 
        padding: 20px 20px;
        width: 500px;
        height: 630px;
    }
    .ed-list{
        flex-flow : column nowrap;
        height: 90vh ;
    }
    .ed-item{
        margin: 0px;
    }
    .ed-year {
        left: 15%;
        top:50%
    }
    .ed-year > p {
        font-size: 45px;
    }
    .ed-content{
        left: 50%;
        top:50%;
    }
    .logo {
        left: 85%;
        bottom: -40%;
    }
    .ed-title h1 {
        margin : 50px 0px;
    }
    .ed-item {
        flex-basis : 25%;
    }
    .ed-item:hover{
        flex-basis:50%;
    }
    .ed-item:hover .logo{
        bottom: -15%;
    }
    
}
/*-------------- Laptop --------------*/
@media screen and (max-width:1024px){
    #drop-down-list{
        display:none ;
    }
    #top-nav a{
        font-size: 22px;
        color :#ffffff;
        padding: 15px 15px;
    }
    #welcome h1 {
        font-size: 75px;
    }
    #story-container {
        width: 85%;
    }
    #story-card > img { 
        padding: 15px 15px;
        width: 340px;
        height: 430px;
    }
    #story-card > h1 { font-size : 30px; }
    #story-card > h3 { font-size : 24px; }
    #story-card > p  { font-size : 16px; }
    #codewars-container {
        width: 65%;
    }
    .ed-content-hide {
        font-size: 21px;
        white-space: normal;
    }
    .ed-year {
        left: 15%;
    }
    .ed-year > p {
        font-size: 40px;
    }
    .logo {
        width: 150px; height: 150px;
    }
    .ed-item:hover .logo{
        bottom: 0%;
    }
    .footer-icon {
        width: 44px; height: 44px;
    }
    .footer > div h1 {
        font-size: 30px
    }
    .footer-contact > div:last-child > p {
        font-size: 18px;
    }
    .credit a ,.credit span a {
        font-size: 14px;
    }
}
/*-------------- Tablet--------------*/
@media screen and (max-width:768px) {

    #left-top-nav {
        display: none;
    }
    #drop-down {
        display:flex;
        flex-basis:40%
    }
    h1 {
        font-size: 50px; 
    }
    #welcome h1 {
        font-size: 70px;
    }
    #welcome-message h2 {
        font-size: 40px;
    }
    #welcome-message p{
        font-size: 30px;
    }
    .myslide img {
        width:500px; height:500px;
    }
    .dot {
        width:15px; height: 15px; 
    }
    #first-row {
        padding: 60px 0 30px;
    }
    .tooltipText {
        width: 200px;
        margin-left: -100px; /*width / 2 */
        font-size: 20px;
    }
    #first-row p{
        font-size: 40px;
    }
    #per-info-container {
        flex-flow: row wrap;
        flex-basis: 80%;
    }
    #per-info-container > div {
        padding: 25px 20px;
        flex:1 1 50%;
        text-align: center;
    }
    #per-info-container > div:first-child {
        flex-basis: 100%;
    }
    .per-info {
        flex-flow: column nowrap;
        align-items: center;
    }
    .per-info div{
        text-align: center;
    }
    #story-card > h1 { font-size : 28px; }
    #story-card > h3 { font-size : 22px; }
    #story-card > p  { font-size : 15px; }
    #story-card > button { font-size: 22px; }
    #story-container {
        width: 90%;
    }
    #story-card > img { 
        padding: 10px 10px;
        width: 300px;
        height: 380px;
    }
    #codewars-container {
        width: 75%;
    }
    #codewars-container > div {
        font-size: 24px;
    }
    .ed-title h1{
        margin: 50px 0px 25px;
    }
    .ed-content-hide {
        font-size: 18px;
        white-space: normal;
    }
    .ed-item {
        flex-basis : 25%;
        
    }
    .ed-item:hover{
        flex-basis:40%;
    }
    .ed-year {
        left: 13%;
        letter-spacing: -2px;
    }
    .ed-year > p {
        font-size: 30px;
    }
    .logo {
        width: 125px; height: 125px;
    }
    .activity-card {
        margin: 25px 0px;
        min-width: 80vw;
        min-height: 90vh;
        flex-flow: column wrap;  
    }
    
    #music, #sport, #student {
        margin: 5px 5px;
        flex: 1 1 33.33%;
    }
    .close {
        top:15px ; right: 30px;
    }

    .footer {
        flex-direction: column;
    }
    .footer > div {
        width:100%
    }
    .credit a ,.credit span a {
        align-self: center;
        font-size: 12px;
    }
}
@media screen and (max-width:600px){
    #welcome h1 {
        font-size: 60px;
    }
    h1 { 
        font-size: 40px;
    }
    .header h1{
        margin-left: 0px;
        text-align: center;
        font-size: 40px;
    }
    #drop-down-list {
        width: 300px;
    }
    .myslide img {
        width:400px; height:400px;
    }
    .dot {
        width:12px; height: 12px; 
    }
    .contact-tab{
        padding: 20px 0px;
    }
    #first-row {
        padding: 50px 0 40px;
    }
    .tooltipText {
        width: 190px;
        margin-left: -95px; /*width / 2 */
        font-size: 19px;
    }
    .dot{
        width:15px; height:15px;
    }
    #story-card > h1 { font-size : 24px; }
    #story-card > h3 { font-size : 18px; }
    #story-card > p  { font-size : 14px; }
    #story-card > button { font-size: 18px; }
    #story-card > img { 
        padding: 7px 7px;
        width: 220px;
        height: 280px;
    }
    #codewars-card > div {
        font-size: 22px;
    }
    #codewars-container > a {
        font-size: 20px;
    }
    .ed-title h1 {
        margin: 25px 0 25px;
    }
    .ed-year > p {
        font-size: 25px;
    }
    .ed-list {
        padding: 0 10px 10px;
    }
    .ed-content-hide {
        font-size: 19px;
    }
    .close {
        top:10px ; right: 20px;
    }
}
/*-------------- Mobile L --------------*/
@media screen and (max-width:425px){
    #welcome h1 {
        font-size: 50px;
    }
    #welcome-message h2 {
        font-size: 30px;
    }
    #welcome-message p{
        font-size: 20px;
    }
    .header h1{
        font-size: 35px;
        text-align: center;
    }
    #top-nav a{
        font-size: 20px;
        padding: 15px 10px;
    }
    .myslide img {
        width:300px; height:300px;
    }
    .dot {
        width:10px; height: 10px; 
        
    }
    #first-row {
        padding: 60px 0 30px;
    }
    .tooltipText {
        width: 180px;
        margin-left: -90px; /*width / 2 */
        font-size: 18px;
    }
    .icon {
        width:48px; height:48px;
        margin:5px 10px;
    }
    #first-row p{
        font-size: 30px;
    }
    #first-row h1{
        font-size: 35px;
    }
    #about-me > h1 { 
        margin: 20px 0 20px; 
    }
    #per-info-container {
        margin-bottom: 50px;
    }
    #story-card > h1 { font-size : 18px; }
    #story-card > h3 { font-size : 16px; }
    #story-card > p  { font-size : 12px; }
    #story-card > button { font-size: 16px; }
    #story-card > img { 
        margin-top: 50px;
        padding: 5px 5px;
        width: 160px;
        height: 200px;
    }
    #codewars-container {
        margin: 50px 15px;
    }

    #showLangBtn {
        position: relative;
        width: 25px ; height: 25px;
    }
    #arrow {
        top: 25%;
        left: 25%;
        padding: 4px;
        border-style: solid;
        border-width: 0 4px 4px 0;
    }
    #codewars-card > div {
        font-size: 20px;
    }
    #langDetail > div {
        font-size: 18px;
        text-align: left;
    }
    #codewars-container {
        width: 85%;
    }
    .ed-title h1 {
        font-size: 50px;
    }
    .ed-item:hover > .ed-year{
        top: 20%;
        transition: top 1s;
    }
    .ed-year {
        letter-spacing: -1px;
        top: 50%;
        left: 50%;
    }
    .ed-content {
        top: 60%;
        left: 35%;
    }
    .ed-content-hide{
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    .logo {
        left: 85%;
        width: 80px; height: 80px;
    }
    .ed-item:hover .logo{
        bottom: 0%;
    }
    .footer {
        flex-direction: column;
    }
    .footer >div:last-child h1{
        font-size: 22px;
    }
    .footer-contact > div:last-child > p {
        font-size: 16px;
    }
}
/*-------------- Mobile M --------------*/
@media screen and (max-width:375px) {
    #welcome h1 {
        font-size: 45px;
    }
    .myslide img {
        width:275px; height:275px;
    }
    #per-info-container ul , #per-info-container li , .per-info > div{
        font-size: 20px;
    }
    #per-info-container li, .per-info > div p {
        font-size : 16px;
    }
    .ed-title h1 {
        font-size: 40px;
    }
    .ed-item:hover {
        flex-basis: 50%;
    }
    .ed-year > p {
        font-size: 25px;
    }
    .ed-content-hide{
        font-size: 14px;
        letter-spacing: 0.5px;
    }
    .footer >div:last-child h1{
        font-size: 20px;
    }
    .footer-contact > div:last-child > p {
        font-size: 15px;
    }
}
/*-------------- Mobile S --------------*/
@media screen and (max-width:320px) {
    .myslide img {
        width:250px; height:250px;
    }
}
