*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  rgba(5, 5, 5, 0.9) ;
}
a {
    text-decoration: none;
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
.no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
h1 { 
    font-family: 'Akshar', sans-serif;
    font-size: 75px;
    text-align: center;
}

.header {
    background-color: rgba(5, 5, 5, 0.9) !important;
    width: 100%;
    padding: 30px 0px;
}
.header h1 {
    text-align: left;
    margin-left: 50px;
    font-size: 45px;
    color: #8a8a8a;
}

form {
    color: #fff;
    font-size: 24px;
    width: 100%;
    margin: 15px 15px 0px;
}
.show {
    display:block;
}
.hide {
    display:none;
    opacity: 0;
    height: 0;
    width: 0;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.container > h2{
    color: #fff;
    font-size:50px;
    margin: 15px 0px;
    letter-spacing: 2px;
    text-align: center;
}

#submitBtn {
    margin: 20px;
    width: 5%;
    font-size:18px;
}
#txtHint p{
    font-size: 22px;
    font-style: italic;
    transition: all 0.5s ease-in-out;
}
.invalid {
    color: red;
}
.valid {
    color: green;
}
